.contactos2-container {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  .contactos2-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
